extends layout

block content
  div.container
    each person in people
      div.person
        div.person-image(style=`background: url('/images/${person.imgSrc}') top center
        no-repeat; background-size: cover;`)
        h2.person-name
          | #{person.firstname} #{person.lastname}
        a(href=`/profile?id=${person.id}`)
          | View Profile
  div.container
    form(action=`/totext` method='POST' )
      p type your url here
      input(type='text' name='address' placeholder='http://example.com').input
      button(type='submit').button convert to text