
extends layout
block content
  div.help_text Insert any URL and get a page reoptimized with image descriptions
  div.form
    form(action=`/totext` method='POST' )
      p type your url here
        input(type='text' name='address' placeholder='http://example.com' value='').input
      input(type='submit', value='Submit')

