doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous+Pro")
    link(href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1.head #{title}
          h2.head Log In

      block content
