extends layout

block content
    div.globalcontainer
        div.anotherwebtext Optimize another website URL
        div.form
            form(action=`/totext` method='POST' )
                p 
                    input(type='text' name='address' placeholder='http://example.com' value='').input
                    input(type='submit', value='TextScribe').button
        button(type='button' class='button' onclick="translateText()") Translate
        button(type='button' class='button' onclick="readOutLoud()") Read-Aloud
        script
            include ../routes/index.js
        div.results
            h1 Image to text <br> <br>
            p(id="result") #{words}