/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


   html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit; /* [1] */
    margin: 0;
    padding: 0;
  }
  
  
  
  /* FONTS
     ========================================================================== */
  
  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  }
  
  
  
  /* Header
     ========================================================================== */
  
  .header {
    width: 100%;
    opacity: 0.6;
    height: 125px;
    background-color: #FFFFFF;
    border : 1px solid #A3A1A1;
    font-weight: bold;
  }

  h1.head{
    width: 70%;
    height: 50px;
    font-family: 'Anonymous Pro';
    font-size: 50px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top : 38px;
    padding-left: 40px;
    padding-right: 200px;
    color: #262626;
  }

  h2.head{
    width: 100px;
    height: 20px;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top : 20px;
    padding-right: 20px;
    float:right;
    color: #262626;
  }
  
  
  /* Homepage Container
     ========================================================================== */
  
  /* .container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  } */

  .globalcontainer{

  }

  .description {
      font-size: 22px;
    align-items: center;

  }
  p.webpagetext{
    width: 138px;
    height: 25px;
    opacity: 1;
    font-family: 'Merriweather';
    font-size: 20px;
    line-height:25px;
    color: #262626;
    padding-top: 150px;
    padding-bottom: 25px;
  }

  div.help_text{
    width: 100%;
    height: 132px;
    opacity: 1;
    font-family: 'Merriweather';
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    padding-top: 25px;
    padding-left: 190 px;
    padding-right: 190 px;
    padding-bottom: 75px;
  }

  div.help_text2{
    width: auto;
    height: 132px;
    opacity: 0.6;
    font-family: 'Merriweather';
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    margin: 40px;
  }
  

  div.form{
    width: 90%;
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Merriweather';
    align-content: center;
    margin:auto;
    padding-bottom: 100px;
  }
  
  div.belief{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Merriweather';
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #262626;
  }

  p.belief{
    font-size: 42px;
    line-height: 53px;
    font-weight: bold;
  }
  p.bullet{
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
font-weight: normal;
    text-align: left;
  }

  div.tabs{
    padding-top: 30px;
    margin:auto;
    text-align: center;

  }

  /* Buttons
     ========================================================================== */
  
  .button {
    float:left;
    width: 210px;
    height: 65px;
    left: 955px;
    top: 413 px;
    background: #BCBCBC;
    border-radius: 8px;
    border: 0px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    }
  
  .button-twitter {
    color: #FFFFFF;
    background-color: #659AF1;
    border-radius: 5px;
  }

  button.tablinks{
    background: none;
    border: none;
    padding-left: 300px;
    padding-right: 300px;
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 140%;
text-align: center;
  }

  button.tablinks.active{
    background: none;
    border: none;
    padding-left: 300px;
    padding-right: 300px;
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 140%;
text-align: center;
text-decoration: underline;
  }
  

/* Input
   ==============================================================================*/
.input {
  height: 50px;
  width: 50%;
  font-size: 25px;
  border-color: black;
  float:left;
  border-radius: 8px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  align-content: center;
  text-align: center;
}

div.imagetabtext{
  width: 80%;
  text-align: center;
  align-content: center;
  margin:auto;
}

div.videotabtext{
  margin:auto;
  width: 80%;
  text-align: center;
  align-content: center;
  background: #E5E5E5;
  border-radius: 16px;
}

div.sectiontext{
  width: 31.333333333%;
  float: left;
  background: #C4C4C4;
  border-radius: 16px;
  margin:1%;
  padding: 1%;
  height: 30%;
}


p.title{
font-family: 'Merriweather';
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 140%;
padding: 1%;
}

p.description{
  font-family: 'Merriweather';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 140%;
}

p2.descriptionlist{
font-family: 'Merriweather';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 140%;
text-align: left;
}
