/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


   html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit; /* [1] */
    margin: 0;
    padding: 0;
  }
  
  
  
  /* FONTS
     ========================================================================== */
  
  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  }
  
  
  
  /* Header
     ========================================================================== */
  
  .header {
    width: 100%;
    opacity: 0.6;
    height: 225px;
    background-color: #FFFFFF;
    border-color:#e1dede;
    font-weight: bold;
    padding-bottom: 100px;
  }

  h1.head{
    width: 70%;
    height: 50px;
    font-family: 'Anonymous Pro';
    font-size: 50px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top : 38px;
    padding-left: 40px;
    padding-right: 200px;
    color: #262626;
  }

  h2.head{
    width: 100px;
    height: 20px;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top : 20px;
    padding-right: 20px;
    float:right;
    color: #262626;
  }


  .input {
    height: 50px;
    width: 100%;
    font-size: 25px;
    margin: 10px;
    border-color: PURPLE;
  }
  
  
  /* Homepage Container
     ========================================================================== */
  
  /* .container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  } */

  .description {
      font-size: 22px;
    align-items: center;

  }
  
  div.help_text{
    width: 100%;
    height: 132px;
    opacity: 0.6;
    font-family: 'Merriweather';
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
  }

  div.help_text2{
    width: auto;
    height: 132px;
    opacity: 0.6;
    font-family: 'Merriweather';
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    margin: 40px;
  }
  
  
  /* Profile Card
     ========================================================================== */
  
  .person {
    text-align: center;
  }
  
  .person > * {
    margin-bottom: 5px;
  }
  
  .person-image {
    width: 100%;
    height: 300px;
  }
  
  
  
  /* Profile Page
     ========================================================================== */
  
  .profile {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .profile-image {
    height: 100%;
    flex-grow: 1;
    flex-basis: 50%;
  }
  
  .profile-details {
    flex-basis: 30%;
    flex-grow: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .profile-details > * {
    margin-bottom: 20px;
  }
  
  
  
  /* Buttons
     ========================================================================== */
  
  .button {
    height: 50px;
    line-height: 50px;
    width: auto;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .button-twitter {
    color: #FFFFFF;
    background-color: #659AF1;
    border-radius: 5px;
  }

/* Input
   ==============================================================================*/
.input {
  height: 50px;
  width: 400px;
  font-size: 25px;
  margin: 10px;
  border-color: BLACK;
  alignment: center;
}

  